<h1>ユーザー詳細画面</h1>

<h3 class="mt-5">メールアドレス</h3>
<%= @user.email %>
<h3 class="mt-1">郵便番号</h3>
<%= @user.postal %>
<h3 class="mt-1">住所</h3>
<%= @user.address %>
<h3 class="mt-1">自己紹介</h3>
<%= @user.description %>
