<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>
<table class="table mt-5">
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
